<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644060788222-aflha8bn4mmvv3hvo0oq3e5tu68l5ved.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644060788222-aflha8bn4mmvv3hvo0oq3e5tu68l5ved</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>644060788222-5v0mero63vp708qfg3ta742r8pq3cvr9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCPdqiXLblVEPo4N0DadG_6BjREvcIEN5E</string>
	<key>GCM_SENDER_ID</key>
	<string>644060788222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.biblio.biblioFiles</string>
	<key>PROJECT_ID</key>
	<string>biblio-27537</string>
	<key>STORAGE_BUCKET</key>
	<string>biblio-27537.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644060788222:ios:6546d73b244abcd6083caf</string>
</dict>
</plist>